div.blink{
    border: 2px solid #bebbbb;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 2%;
}
span {
    display: inline; /* Ensures the span respects height and width */
    background-color: #016676;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
   margin: 13px;
   font-size: 11px;
    height: 12px; /* Set the height */
    width: 12px; /* Set the width */
  }
   .arabic{
      text-align: right;
       margin-bottom: 20px;
        font-size: 25px;
         color: #444964;
    }
    .bangla{
        margin-bottom: 20px;
          font-size: 17px;
        color: rgb(83, 79, 99)
      }
      .english{
        margin-bottom: 20px;
          font-size: 17px;
   color: rgb(83, 79, 99)
      }